<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/task
    	http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <mvc:resources location="/resources/" mapping="/resources/**"></mvc:resources>
    <!--<mvc:resources location="/files/" mapping="/files/**"></mvc:resources>-->
    <mvc:view-controller path="/" view-name="/login"/>
    <!--对模型视图名称的解析，即在模型视图名称添加前后缀 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/viewback/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>
    <!--文件上传配置 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:defaultEncoding="utf-8">
        <property name="maxUploadSize">
            <value>104857600</value>
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/common/**"/>
            <bean class="com.info.back.interceptor.AdminContextInterceptor">
                <property name="loginUrl" value="/back/login"/>
                <property name="returnUrl" value="/back/indexBack"/>
                <property name="excludeUrls">
                    <list>
                        <value>/login</value>
                        <value>/logout</value>
                        <value>/indexBack</value>
                        <value>/rightSubList</value>
                        <value>/updateCache</value>
                        <value>/user/updateUserPassword</value>
                        <value>/upload/uploadFiles</value>
                        <value>/removeImg</value>
                        <value>/indexManage/saveUpdateCv</value>
                        <value>/auditCenter/addAuditCenter</value>
                        <value>/collectionOrder/doDispatch</value>
                        <value>/collectionOrder/addcuishou</value>
                        <value>/collectionOrder/kokuan</value>
                        <value>/collectionOrder/sendMsg</value>
                        <value>/collectionOrder/withhold-callback</value>
                        <value>/sync/loan-order-info</value>
                        <value>/sync/repayment</value>
                        <value>/collectionOrder/withhold-callback-big</value>
                        <value>/statistics/doStatistics</value>
                        <value>/sendSmsBack</value>
                        <value>/estimate/pull</value>
                        <value>/auditCenter/reduction-callback-big</value>
                        <value>/statisticsNew/doTrackStatistics</value>
                        <value>/statisticsNew/trackStatistics</value>
                        <value>/statisticsNew/doRecoveryStatistics</value>
                        <value>/statisticsNew/doTodayStatistics</value>
                        <value>/other/collectionAdvice/get</value>
                        <value>/other/collectionAdvice/getAdviceList</value>
                        <value>/order/reDispatch</value>
                        <value>/aiCuiShou/batchCommitData</value>
                        <value>/collectionOrder/get-user-ecommerce-info</value>
                    </list>
                </property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>


    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>
    <context:component-scan base-package="com.info.back.controller">
    </context:component-scan>
    <mvc:annotation-driven/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/html;charset=UTF-8</value>
                            <value>text/plain;charset=UTF-8</value>
                            <value>application/json;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <task:scheduled-tasks scheduler="myScheduler">
        <task:scheduled ref="taskOrderExchangeNextMonth" method="handleLastMonthOrder" cron="0 1 0 1 * ?"/> <!-- 每月1号0点1分执行上月数据转接至下月 -->
        <task:scheduled ref="taskJobStatistics" method="personAndCompanyStatistics" cron="0 45 7-23 * * ?"/>  <!-- 个人和公司统计 整点45 -->
        <task:scheduled ref="taskJobStatistics" method="trackStatistics" cron="0 30 7-23 * * ?"/> <!-- 时间段累计统计 整点30 -->
        <task:scheduled ref="taskWithholdStatus" method="updateStatus" cron="0 25 10,14,21 * * ?"/>
        <task:scheduled ref="dataSyncService" method="syncOverdueDate" cron="0 40 2 * * ?"/><!--每天凌晨2点40跑逾期-->
        <task:scheduled ref="AICuiShouService" method="batchCommitData" cron="0 0 8 * * ?"/><!--每天早上8点推单到AI催收公司-->
        <task:scheduled ref="dianXiaoDataService" method="syncDianXiaoNoPay" cron="0 10 4 * * ?"/><!--4点10分电销订单同步-->
        <task:scheduled ref="dianXiaoDataService" method="syncDianXiaoPay" cron="0 0/2 7-23 * * ?"/><!--7点到24点每两分钟电销订单还款同步-->
        <!--3点开始跑逾期，到4点跑完了，先执行部分还款数据，5点开始跑全部还款数据(1-4之间不执行续期、还款、代扣，为了防止3点逾期还未推送，还款先推送了)-->
        <task:scheduled ref="twoMinSyncOperateService" method="twoMinSyncOverdue" cron="0 0/2 4-23 * * ?"/><!--4点到24点   每2分钟跑逾期(部分还款)-->
        <task:scheduled ref="twoMinSyncOperateService" method="twoMinSyncOther" cron="0 0/2 5-23 * * ?"/><!--5点到24点   每2分钟跑续期，还款，代扣 -->
        <task:scheduled ref="twoMinSyncOperateService" method="twoMinSyncOther" cron="0 0/2 0 * * ?"/><!--0点到1点   每2分钟跑续期，还款，代扣 -->
        <task:scheduled ref="twoMinSyncOperateService" method="twoMinSyncOverdue" cron="0 0/6 0 * * ?"/><!--0点到1点   每6分钟跑逾期(部分还款)-->
        <task:scheduled ref="taskJianmianStatus" method="updateStatus" cron="0 30 23 * * ?"/> <!-- 每天晚上11点30 跑减免失效状态 -->
        <task:scheduled ref="taskCleacUpOperationRecordData" method="cleacUpOperationRecordData" cron="0 30 23 * * ?"/> <!-- 清除操作记录数据 -->
        <task:scheduled ref="taskDisableOrEnableCollections" method="disableCollections" cron="0 5 0 1 * ?"/>
        <task:scheduled ref="taskDisableOrEnableCollections" method="enableCollections" cron="0 0 23 1 * ?"/>
        <!--<task:scheduled ref="dealOverdueLoanService" method="dealOverdueLoan" cron="0 10 0 * * ?" />-->
        <task:scheduled ref="taskDealWithSpecialOrder" method="updateOrderInfo" cron="0 0 7 2 * ?"/>   <!-- 应产品需求，修改每月1号完成订单至指定催收员(每月2号7点执行) -->
        <task:scheduled ref="taskUpdateOrderInfo" method="updateOrderInfo" cron="0 0 3 * * ?"/>
        <task:scheduled ref="taskDealwithOrderUpgrade" method="orderUpgrade" cron="0 5 0 * * ?"/>
        <task:scheduled ref="taskUpdateTotalOverdueDays" method="updateTotalOverdueDays" cron="0 17 0 * * ?"/><!--更新总逾期天数-->
        <task:scheduled ref="taskEstimateOrder" method="pullEstimateOrder" cron="0 30 7 * * ?"/>
        <task:scheduled ref="taskMailCollection" method="mailBeyondWarn" cron="0 0 8 * * ?"/>
        <task:scheduled ref="taskMailCollection" method="mailSendResult" cron="0 30 8 2-31 * ?"/>
        <!-- 每月1号订单较多，派单结果邮件发送时间延后 -->
        <task:scheduled ref="taskMailCollection" method="mailSendResult" cron="0 0 17 1 * ?"/>
    </task:scheduled-tasks>
    <!--最多 5个定时任务线程-->
    <task:scheduler id="myScheduler" pool-size="6"/>

</beans>
